/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: "Noto Sans TC", sans-serif;
}

p {
  line-height: 1.5;
}

h1 {
  margin: 40px 0;
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 1.5rem;
}

a {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

input:focus {
  outline: none;
}

section {
  margin: 10rem 0;
}

.container {
  max-width: 100vw;
  width: 1328px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-colreverse {
  flex-direction: column-reverse;
}
.flex .rowreverse {
  flex-direction: row-reverse;
}

.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
  align-content: flex-start;
}
.a-center {
  align-items: center;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-weight: 900;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn-filter {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
.btn-filter i {
  padding-left: 12px;
}

.gap {
  gap: 24px;
}

/*RWD*/
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 767px) {
  .mobile {
    display: flex;
  }
}

/*nav*/
.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.nav-bar img {
  height: 40px;
}
@media (max-width: 767px) {
  .nav-bar img {
    height: 24px;
  }
}

.nav-list {
  gap: 20px;
}
.nav-list a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

/*mobile menu*/
.burger-list {
  display: none;
}
.burger-list input {
  display: none;
}
@media (max-width: 767px) {
  .burger-list {
    display: block;
  }
}
.burger-list input:checked ~ .mobile-menu {
  display: flex;
}

.burger-logo {
  margin-top: 4px;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #000;
  animation: pulldown 1s;
}
.mobile-menu .social {
  border-top: 1px solid #fff;
}

.menu h2 {
  font-size: 80px;
}

/*footer*/
.social {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .social .desktop {
    display: none;
  }
}
.social .mobile {
  display: none;
}
@media (max-width: 767px) {
  .social .mobile {
    display: flex;
    margin-top: 24px;
  }
}

footer .link {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
footer .link img {
  height: 40px;
}
@media (max-width: 767px) {
  footer .link {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  footer h2 {
    font-size: 3rem;
  }
}

.back {
  font-size: 1rem;
}

.footer-logo {
  margin-right: 80px;
}
@media (max-width: 767px) {
  .footer-logo {
    margin: 0;
  }
}

/*header*/
.banner .container {
  min-height: 1000px;
}
@media (max-width: 767px) {
  .banner .container {
    min-height: 731px;
  }
}
.banner h3 {
  align-self: flex-end;
  max-width: 636px;
  padding-top: 80px;
}
@media (max-width: 767px) {
  .banner h3 {
    max-width: 257px;
    padding-top: 64px;
  }
}

@media (max-width: 767px) {
  .decogroup {
    align-self: stretch;
  }
}

/*section1*/
.price-album {
  margin-top: 5rem;
}

.price-card {
  width: 636px;
  height: 318px;
  border: 1px solid #525252;
  border-radius: 1rem;
}
.price-card .about {
  height: 254px;
  border-bottom: 1px solid #525252;
}
.price-card .about h4 {
  margin-bottom: 12px;
}
.price-card .about ul {
  list-style: disc inside;
}
.price-card .about li {
  line-height: 1.5;
}
.price-card div {
  padding: 20px 32px;
}
.price-card img {
  width: 16px;
}
.price-card p {
  font-size: 16px;
  font-weight: 900;
}
.price-card a {
  font-size: 16px;
  font-weight: 400;
}
.price-card .sub {
  font-weight: 400;
  color: #919191;
}

/*section2*/
@media (max-width: 767px) {
  .terms .container {
    flex-direction: column;
    gap: 48px;
  }
}

.terms-album {
  gap: 40px;
  width: 856px;
}
@media (max-width: 767px) {
  .terms-album {
    width: 100%;
  }
}

.terms-card {
  padding-bottom: 40px;
  border-bottom: 1px solid;
}
.terms-card p {
  padding-top: 24px;
  font-size: 32px;
}
@media (max-width: 767px) {
  .terms-card p {
    font-size: 16px;
  }
}

/*section4*/
@media (max-width: 767px) {
  .qa .container {
    flex-direction: column;
    gap: 24px;
  }
}

.qa-album {
  gap: 16px;
  width: 856px;
}
@media (max-width: 767px) {
  .qa-album {
    width: 100%;
  }
}

.qa-card {
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #525252;
  border-radius: 1rem;
}
.qa-card h5 {
  font-size: 20px;
  font-weight: 900;
}
.qa-card img {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .qa-card {
    padding: 20px;
  }
}

.hide {
  margin-top: 1rem;
}

/*import font*/
/*main css*/
/*header*/
.decogroup {
  margin-top: 100px;
  height: 180px;
  overflow: hidden;
}
.decogroup li {
  position: relative;
  height: 180px;
  animation: arrowup 4s infinite;
}
.decogroup .delay1 {
  animation-delay: 1s;
}
.decogroup .delay2 {
  animation-delay: 0.5s;
}
@media (max-width: 767px) {
  .decogroup {
    justify-content: center;
    height: 117px;
  }
  .decogroup img {
    height: 117px;
  }
}

/*section1*/
.h-group {
  margin-bottom: 80px;
}
.h-group li:first-child {
  width: 414px;
}
.h-group li:last-child {
  max-width: 856px;
}
@media (max-width: 767px) {
  .h-group {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .c-group {
    flex-direction: column;
    align-items: center;
  }
}

.service-card {
  gap: 20px;
  max-width: 416px;
  padding: 80px 40px;
  border: 1px solid #525252;
  border-radius: 1rem;
}
.service-card img {
  width: 80px;
}
.service-card p {
  color: #f2f2f2;
}

/*section2*/
.logo-group {
  position: relative;
  max-width: 1296px;
  margin: 5rem 0;
  overflow: hidden;
  /*shadow*/
}
.logo-group img {
  height: 40px;
}
.logo-group li {
  margin: 20px 0;
}
.logo-group::before {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
  left: 0;
  background: linear-gradient(to right, #000 0%, transparent 100%);
}
@media (max-width: 767px) {
  .logo-group::before {
    width: 3rem;
  }
}
.logo-group::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
  right: 0;
  background: linear-gradient(to left, #000 0%, transparent 100%);
}
@media (max-width: 767px) {
  .logo-group::after {
    width: 3rem;
  }
}

.marquee div {
  animation: marquee 20s linear infinite;
}

.fake-carousel {
  gap: 8px;
}
.fake-carousel .active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.fake-carousel div {
  width: 8px;
  height: 8px;
  border-radius: 12px;
  background-color: #525252;
}

.carousel-setting {
  width: 351px;
  margin: 0 auto;
}

.scroll {
  width: 351px;
  display: flex;
  gap: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  width: 351px;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.carousel-nav {
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 4px;
}
.carousel-nav a {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #525252;
}
.carousel-nav a:hover {
  background-color: #fff;
  transform: scale(1.5);
  transition: 0.3s;
}

.command-card {
  gap: 20px;
  max-width: 416px;
  margin-top: 80px;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.0784313725);
}
.command-card > p {
  flex-grow: 1 1 0%;
}

.rate {
  gap: 20px;
}

.user {
  gap: 16px;
}

.textbox p:first-child {
  font-weight: 700;
}
.textbox p:last-child {
  font-size: 14px;
}

/*section3*/
.white {
  padding: 10rem 0;
  border-radius: 10rem;
  text-align: center;
  color: #000;
  background-color: #fff;
}
.white h2 {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .white {
    padding: 5rem 0;
    border-radius: 20px;
  }
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 24px 0;
  padding-left: 40px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #f2f2f2;
}
.input-group .search-icon {
  padding-right: 10px;
}

.search {
  flex-grow: 1;
  height: 4rem;
  padding: 20px 40px 20px 10px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: #919191;
  background-color: #f2f2f2;
}

.filter-type {
  gap: 8px;
}
.filter-type li {
  padding: 8px 16px;
  border-radius: 1rem;
  color: #919191;
}
.filter-type .active {
  font-weight: 700;
  color: #020202;
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .filter-type {
    display: none;
  }
}

.filter-mobile {
  display: none;
  padding-top: 1rem;
}
.filter-mobile li {
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .filter-mobile {
    display: flex;
    overflow: scroll;
  }
}

.filter-mobile::-webkit-scrollbar {
  display: none;
}

.card-album {
  margin: 40px 0;
  gap: 24px;
}

.card {
  width: 416px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  text-align: left;
  overflow: hidden;
}
.card ul {
  border-top: 1px solid #f2f2f2;
  padding: 20px 32px;
}
.card ul img {
  height: 16px;
}

.card-img {
  height: 312px;
  overflow: hidden;
}
.card-img img {
  height: 312px;
}
.card-img img:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.text-area {
  height: 118px;
  gap: 12px;
}
.text-area h5 {
  font-size: 1rem;
  font-weight: 900;
}

.pages li {
  width: 48px;
  height: 48px;
  padding: 16px 0;
  border-radius: 1rem;
  text-align: center;
}
.pages .active {
  color: #fff;
  background-color: #000;
}
@media (max-width: 767px) {
  .pages {
    justify-content: center;
  }
}

/*section4*/
.join-us {
  text-align: center;
}
.join-us h3 {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .join-us .desktop {
    display: none;
  }
}
.join-us .mobile {
  display: none;
}
@media (max-width: 767px) {
  .join-us .mobile {
    display: block;
  }
}

/*animation*/
@keyframes arrowup {
  0% {
    bottom: -180px;
  }
  30% {
    bottom: 0px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 180px;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes pulldown {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}/*# sourceMappingURL=all.css.map */